body{
    margin: 0;
    background-color: #3a3a3a;
    color: #7cd26a;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1{
    margin: 0;
    font-size: xx-large;
}

.subtitle, p{
    color: #dba43e;
    margin: 0;
}
nav{
    display: flex;
    justify-content: center;
}
.title-container{
    text-align: center;
    margin-left: auto;
    display: inline-block;
    margin-right: auto;

}
.title-container > hr {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(to right, #7cd26a, #dba43e);
    margin-left: 0;
}

.wip {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust as needed */
}

.wip > img {
    width: 200px
}

.box {
    border: 5px solid #7cd26a; /* Green border */
    border-radius: 4px; /* Rounded corners */
    background-color: transparent;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}
.box > h3{
    margin:0;
    margin-bottom: 10px;
}

.left{ text-align: left !important;}
.right {
    text-align: right !important;
}
.box > .flex-box{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
  
.box a {
    margin: 10px;
    text-decoration: none; /* Removes underline */
    font-size: 16px;
    font-weight: bold;
    color: #7cd26a; /* Match green border */
    padding: 8px 12px; /* Adds spacing inside */
    border: 2px solid #7cd26a; /* Adds border */
    border-radius: 4px; /* Rounds corners */
    transition: all 0.3s ease-in-out; /* Smooth animation */
  }
  .links{
    padding-bottom: 40px
  }

  .links h3{
    margin-bottom: 20px
  }

  .link-container{
    margin-bottom: 40px
  }
  
  .box a:hover {
    background-color: #7cd26a; /* Green fill on hover */
    color: #3a3a3a; /* Dark text on hover */
  }
